body {
    margin: 0;
    padding: 0 40px 0 40px;
    font-family: sans-serif;
    height: 100vh;
}

header {
    text-align: center;
}

#root {
    height: 100vh;
}

.App {
    display: grid;
    grid-template-rows: 8vh 80vh 20px;
}

.alert-success,
.alert-primary {
    height: 45px;
}
.alert-success {
    text-align: right;
}

input {
    width: 95%;
}

.date {
    font-size: 10px;
}
